.main {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  align-content: center;
}

/* Cloud Definition */
.cloud {
  position: relative;
  top: calc(var(--size) * 250);
  width: calc(var(--size) * 300);
  height: calc(var(--size) * 100);
  background-color: var(--color);
  border-radius: calc(var(--size) * 50);
  animation: moveclouds var(--speed) linear infinite;
}
.cloud:before {
  content: '';
  width: calc(var(--size) * 100);
  height: calc(var(--size) * 100);
  border-radius: 60%;
  left: calc(var(--size) * 42);
  top: calc(var(--size) * -55);
  position: absolute;
  background-color: var(--color);
}
.cloud:after {
  content: '';
  width: calc(var(--size) * 175);
  height: calc(var(--size) * 175);
  border-radius: 50%;
  left: calc(var(--size) * 100);
  top: calc(var(--size) * -90);
  position: absolute;
  background-color: var(--color);
}

@keyframes moveclouds {
  0% {margin-left: calc(100vw);}
  100% {margin-left: calc(-25vw - 100%);}
}